<html> 
<head>
         <script src="../../static/d3/d3.min.js"></script>
        <script src="../../static/js/jquery-3.3.1.min.js"></script>
        <style>
        </style>
</head>
<body>
<p>D3 PST for PK {{politician}}!</p>
    <script type="text/javascript" charset="utf-8">
        function getPolitician(){
            var politician = []
                "{% for object in politician %}"
                    politician.push({
                        "pk": "{{politician.pk}}",
                        "first_name": "{{politician.first_name}}",
                        "last_name": "{{politician.last_name}}"
                    })
                "{% endfor %}"                      
                return politician;
        }

         $(document).ready(function(){
            console.log(getPolitician())
         });
    </script>
</body>
</html>