{% load staticfiles %}
<!DOCTYPE html>
<html> 
<head>
        <!-- <script src="{% static 'd3/d3.min.js' %}"></script>  -->
        <!-- <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>  -->
        <!-- <script src="//d3js.org/d3-scale-chromatic.v0.3.min.js"></script> -->
        <script src="../../static/d3/d3.min.js"></script>
        <script src="../../static/js/jquery-3.3.1.min.js"></script>
        
        <style>
            div.tooltip {
                position: absolute;
                text-align: center;
                width: 200px;
                height: 50px;
                padding: 10px;
                color: white;
                font: 12px sans-serif;
                background: rgb(73, 58, 58);
                border: 0px;
                border-radius: 8px;
                pointer-events: none;
            }
        </style>
</head>
<body>
    <h3>Tweet Count by Politician</h3>
    <script type="text/javascript" charset="utf-8">
        var hostname = "";
        if (window.location.hostname === "localhost"){
        hostname = "http://localhost:8000";
        } else {
        hostname = "https://pst-360.herokuapp.com"
        }
        function dblclick(d){
            console.log(d.data.pk);
            window.location.assign(hostname +"/data_viz/" + d.data.pk, '_blank');
        }

        $(document).ready(function(){
            $.getJSON(hostname + '/politicians/?format=json', function(politicians_data) {
            $.getJSON(hostname + '/tweets/?format=json', function(tweet_data) {                
                var width = 1000 //max size of the bubbles
                var height =800
                // var color = d3.scaleOrdinal(d3.schemeAccent);
                var scale = d3.scaleLinear()
                    .domain([100, 3000])
                    .range([50, 300]);
                var color = d3.scaleLinear()
                    .domain([0,5]) //map colors based on value
                    .range(['green', '#47DFFF']); //color category
                var politiciansData = {};
                politiciansData['children'] = politicians_data.results;
               
                var bubble = d3.pack(politiciansData)
                    .size([width, height])
                    .padding(1.5);
            
                var svg = d3.select("body")
                    .append("svg")
                    .attr("width", width)
                    .attr("height", height)
                    .attr("class", "bubble");
                
                    // Define the div for the tooltip
                var div = d3.select("body").append("div")	
                    .attr("class", "tooltip")				
                    .style("opacity", 0);
                
                    var nodes = d3.hierarchy(politiciansData)
                    .sum(function(d) { 
                        return scale(d.tweet_count); 
                    });

                var node = svg.selectAll(".bubble")
                    .data(bubble(nodes).descendants())
                    .enter()
                    .append("g")
                    .filter(function(d){
                        return !d.children
                    })
                    .attr("class", "node")
                    .attr("transform", function(d) {
                        return "translate(" + d.x + "," + d.y + ")";
                    });
                
                node.append("title")
                    .text(function(d) { return d.data.pk; });
                    
                node.append("circle")
                    .attr("r", function(d) { return d.r; })
                    .style("fill", function(d,i) {
                        return color(i);
                    })
                    .on("mouseover", function(d){ 
                        console.log(d.data)
                        div.transition()		
                            .duration(200)		
                            .style("opacity", .9);		
                        div.html(d.data.first_name + " " + d.data.last_name 
                            + "<br/>"  + d.data.tweet_count + " tweets"
                            + "<br/>" + d.data.political_party
                            + "<br/>"  + d.data.office_level
                            )
                            
                            .style("left", (d3.event.pageX) + "px")		
                            .style("top", (d3.event.pageY - 28) + "px");	
                        })					
                    .on("mouseout", function(d) {		
                        div.transition()		
                            .duration(500)		
                            .style("opacity", 0);	
                    })
                    .on("dblclick", dblclick);
                
                
                node.append("text")
                    .attr("dy", ".2em")
                    .style("text-anchor", "middle")
                    .text(function(d) {
                        return d.data.last_name.substring(0, d.r / 3);
                    })
                    .attr("font-family", "sans-serif")
                    .attr("font-size", function(d){
                        return d.r/5;
                    })
                    .attr("fill", "black");

                node.append("text")
                    .attr("dy", "1.3em")
                    .style("text-anchor", "middle")
                    .text(function(d) {
                        return d.data.tweet_count;
                    })
                    .attr("font-family",  "Gill Sans", "Gill Sans MT")
                    .attr("font-size", function(d){
                        return d.r/5;
                    })
                    .attr("fill", "black");
            }); 
            });
        })
    </script>
 </body>

</html>